@model bitirme.Models.otelresim
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>otelresimEkle</title>
</head>
<body>
    @using (Html.BeginForm("otelresimEkle", "otel", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.otelresimId)

            <div class="form-group">
                @Html.LabelFor(model => model.otelresimAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" class="multi" aria-invalid="false" accept=".jpg,.png,.JPEG,.jpeg,.gif" name="otelresimAdi">
                    @Html.ValidationMessageFor(model => model.otelresimAdi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kayıt" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</body>
</html>
